@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root{
    --grayish-blue-: hsl(237, 18%, 59%);
    --soft-red-: hsl(345, 95%, 68%);
    --white-: hsl(0, 0%, 100%);
    --dark-des-blue-: hsl(236, 21%, 26%);
    --very-dark-blue-: hsl(235, 16%, 14%);
    --very-dark-blue-blk-: hsl(234, 17%, 12%);
    --mountain-purple-: #2F2439

}

body{
    margin: 0;

    height: 100vh;

    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white-);

    background-image: linear-gradient(var(--very-dark-blue-), var(--mountain-purple-));
    background-position: center;
    background-repeat: no-repeat;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.main > * {
    width: 100%;
}

.main img{
    width: 100%;
    height: 100%;
}

.container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container.title h1{
    font-size: 14px;
    text-align: center;
    letter-spacing: 5px;
}

.container.countdown{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.container.countdown .timer{
    font-size: 7px;
    letter-spacing: 2px;

    color: var(--grayish-blue-);
}

.container.countdown .timer h1{
    margin: 0;
    vertical-align: middle;
    font-size: 36px;
    color: var(--soft-red-);
    letter-spacing: -1px;

    background-color: var(--dark-des-blue-);
    border-radius: 5px;
    box-shadow: 0px 7px 0px -2px var(--very-dark-blue-);
}

.container.links{
    gap: 25px;
}

.bg{
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.bg.mountain-svg{
    background-image: url('../images/pattern-hills.svg');
    top: -850px;
    left: 0;
    z-index: -1;
}

.bg.star-svg{
    background-image: url('../images/bg-stars.svg');
    top: -584px;
    left: 0;
    z-index: -2;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }